.adminlink:hover {
  /*text-decoration: underline;*/
  cursor: pointer;
  color: #e42646;
  font-weight: bold;
}

.adminlink{
  padding: 2%;
  padding-left: 10%;
  text-align: left;
}

.fleche {
  opacity:0;
}

.adminlink:hover .fleche {

    opacity:1;
}

.admin-hello{
  font-size: 5vh;
  padding:5%;
  margin: 0 auto;
  text-align: center;
}

.owner-hello{
    color: #e42646;
    text-align: center;
    font-size: 2vh;
    padding:2%;
}

.success-signup {
  color:#e42646;
  font-size:1.5rem;
  padding:2%;
  margin:1%;
  line-height: 1.5;
  background-color: rgb(242, 242, 242);
}
