h1{
  text-align: center;
  margin:none;
}

h2{
  text-align: center;
  margin:none;
}

h5 {
  text-align: center;
  margin:none;
  font-size: small;
}

p {
  text-align: right;
  font-style: italic;
  font-size: 2.25vh;
  padding:2%;
}

p span:hover{
  font-weight:bold;
  text-decoration: underline;
}

h5 span{
  font-weight: bold;
  color:#e42646;
  font-size:3vh;
}

.sent{
  font-weight: bold;
  color:#e42646;
  font-size:3vh;
}

.login-form{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  width:70%;
  padding:5%;

  margin: 0 auto;
}

.input-form{
  display: flex;
  flex-direction: row;
  width:100%;
  padding:2%;
}

.button{
  border-style: none;
  border-radius: 5px;
  height:8vh;
  background-color:#d8d8d8;
  color:#9d9d9d;
  cursor: pointer;
  font-size: 4vh;
  width:70%;
  margin:0 auto;
  margin-top:3%;
}

.button:hover{
  background-color:#9d9d9d;
  color:#d8d8d8;
}

.label-form {
flex-grow: 10;
flex-basis:10;
width:20%;
/*width:100%;*/

}

.text-input{
flex-grow: 20;
flex-basis:20;
/*width:250%;*/
border-style: none;
border-radius: 5px;
padding-left:2%;


}

.password-input{
  flex-grow: 20;
  flex-basis:20;
  /*width:250%;*/
  border-style: none;
  border-radius: 5px;
  padding-left:2%;
  -webkit-text-security: disc;
}

.resetmessage {
  text-align: center;
}


.resendbutton {
  font-size: small;
  margin:1%;
  height:90%;
  border-radius: 15px;
  background-color: transparent;
  box-shadow: none;
  border-style: solid;
  border-width: 1px;
}

.resendbutton:active {
background-color:#d8d8d8;
color:white;
}


.reseterrormessage{
  padding-left:10%;
  color:red;

}

.clicklylink{
  text-decoration: underline;
  color:red;
}

.clicklylink:hover {
  cursor: pointer;
}


.successResetMessage{
  padding:5%;
}
